extends /_layout

block content
	div(class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1" ng-controller="imagesCtrl" ng-init="init()")
		div(class="col-xs-12 no-side-padding")
			h1(class="image-title col-lg-9 col-xs-5") Images
			div(class="image-search col-lg-3 col-xs-7")
				div
					i(class="fa fa-search" ng-click="search()")
				input(class="form-control" type="text" placeholder="Search..." ng-model="searchText" ng-enter="search()")
		div(class="col-xs-12 no-side-padding")
			div(class="col-xs-12")
				div(class="folder-breadcrumb-item" ng-repeat="f in folderBreadcrumbArray")
					i(ng-hide="$first" class="fa fa-chevron-right")
					span(ng-class="{'font-weight-bold': $last === true}" ng-click="openFolder(f.folder)") {{f.text}}
			div(class="panel-loading-cover-page" ng-hide="!pageLoading()")
				img(src="/dist/images/loading.gif")
			div(ng-hide="pageLoading()" ng-repeat="i in folders" class="image-container-outer col-xs-12 col-sm-6 col-md-4 col-lg-2" resize-height-to-square right-click-folder)
				div(class="image-container-inner col-xs-12")
					div
						img(ng-click="openFolder(folderName + i)" ng-src="/dist/images/folder-icon.png" center-image-in-div)
					div
						span(class="col-xs-12 no-side-padding text-center hideOverflow font-weight-bold") {{i}}
						span(class="col-xs-12 deleteFolder" ng-click="deleteFolder(folderName, i)") Perimently Delete Folder
			div(ng-hide="pageLoading()" ng-repeat="i in imageMetaData" class="image-container-outer col-xs-12 col-sm-6 col-md-4 col-lg-2" resize-height-to-square)
				div(class="image-container-inner col-xs-12")
					div
						a(href="./images/view?id={{i._id}}")
							img(ng-src="/api/v1/images/{{i._id}}/thumbnail?path={{i.fileLocation}}{{i.fileName}}.thumbnail{{i.fileExt}}" center-image-in-div)
						span
					div
						span(class="col-xs-12 no-side-padding text-center hideOverflow font-weight-bold") {{i.name}}
						span(class="col-xs-12 no-side-padding hideOverflow") Tags: 
							span(ng-repeat="t in i.tags") {{t}}{{$last ? '' : ', '}}
						span(class="col-xs-12 no-side-padding") 
							span(class="hideOverflow col-xs-8 no-side-padding") Uploaded: {{i.createdBy}}
							span(class="col-xs-4 badge") {{i.createDate | date:'MM/dd/yyyy'}}
			div(ng-hide="pageLoading()" class="image-container-outer col-xs-12 col-sm-6 col-md-4 col-lg-2" ng-mouseenter="hoverAdd($event, 1)" ng-mouseleave="hoverAdd($event, 0)" resize-height-to-square)
				i(class="add-item-container-inner col-xs-12" class="fa fa-plus fa-5x full-height")
				div(class="image-container-inner col-xs-12" style="display:none;")
					i(class="col-xs-6" ng-click="addObject($event, 1)" class="fa fa-photo fa-4x full-height")
					i(class="col-xs-6" ng-click="addObject($event, 0)" class="fa fa-folder-o fa-4x full-height")
				div(class="add-image-container-inner col-xs-12" style="display:none;")
					i(class="col-xs-6" ng-click="cancelAdd($event)" class="fa fa-arrow-left fa-2x")
					i(class="col-xs-6" ng-click="saveImage($event)" class="fa fa-save fa-2x text-right")
					div(class="control-group")
						label(class="control-label") Image Name:
						input(class="form-control" type="text" ng-model="saveImageName")
						label Image Tags(seperate with ,):
						input(class="form-control" type="text" ng-model="saveImageTags")
						input(id="saveImageFileInput" type="file" accept="image/*" inputfileread="saveImageFile" class="image-input" style="padding-top:5px;")
						span(class="control-label" for="folderNameError" ng-bind="saveImageError")
				div(class="add-folder-container-inner col-xs-12" style="display:none;")
					i(class="col-xs-6" ng-click="cancelAdd($event)" class="fa fa-arrow-left fa-2x")
					i(class="col-xs-6" ng-click="saveFolder($event)" class="fa fa-save fa-2x text-right")
					div(class="control-group")
						label(class="control-label") Folder Name:
						input(id="folderNameError" class="form-control" type="text" ng-model="saveFolderName")
						span(class="control-label" for="folderNameError" ng-bind="saveFolderError")
			load-next-page(ng-hide="pageLoading()" items="Images" paging-variables="imagePaging" load-next-page-fn="getImageMetaData(ct, pagingStartItem)")
			div(class="col-xs-12 no-side-padding" ng-hide="pageLoading()") 
				h3 allow users to drag and drop images to folders
				h3 maybe mirror all this for the video page