extends /_layout

block content
	div(class="col-md-10 col-md-offset-1" ng-controller="profileCtrl" ng-init="init('" + userId + "')")
		div(class="col-md-10 col-md-offset-1")
			h1 Profile 
				i(class="profile-btn" ng-hide="editMode" ng-click="toggleEditMode()" class="fa fa-pencil")
				i(class="profile-btn" ng-hide="!editMode" ng-click="save()" class="fa fa-save")
				i(class="profile-btn" ng-hide="!editMode" ng-click="toggleEditMode()" class="fa fa-close")
		div(class="panel-loading-cover-page" ng-hide="!profileInfoLoading")
			img(src="/dist/images/loading.gif")
		div(ng-hide="profileInfoLoading" class="col-md-10 col-md-offset-1")
			div(class="profile-image col-md-2 no-side-padding")
				img(ng-src="data:image/jpeg;base64,{{info.userImage}}")
				input(type="file" accept="image/*" inputfileread="fileToUpload" class="image-input")
				input(type="button" value="Upload Image" ng-click="saveImage()")
			div(class="col-md-10")
				table(class="table-condensed table-bordered profile-table")
					tr
						th(colspan="2") Personal Info
					tr
						td Username:
						td
							span {{info.username}}
					tr
						td First Name:
						td
							span(ng-hide="editMode") {{info.firstName}}
							input(ng-hide="!editMode" type="textbox" ng-model="info.firstName")
					tr
						td Middle Name:
						td
							span(ng-hide="editMode") {{info.middleName}}
							input(ng-hide="!editMode" type="textbox" ng-model="info.middleName")
					tr
						td Last Name:
						td
							span(ng-hide="editMode") {{info.lastName}}
							input(ng-hide="!editMode" type="textbox" ng-model="info.lastName")
					tr
						td Email Address:
						td
							span(ng-hide="editMode") {{info.email}}
							input(ng-hide="!editMode" type="textbox" ng-model="info.email")
					tr
						td Phone Number:
						td
							span(ng-hide="editMode") {{info.phone}}
							input(ng-hide="!editMode" type="textbox" ng-model="info.phone")
					tr
						td Birth Date:
						td
							span(ng-hide="editMode") {{info.birthDate}}
							input(ng-hide="!editMode" type="textbox" ng-model="info.birthDate")
						
				table(class="table-condensed table-bordered family-table profile-table")
					tr
						th(colspan="2") Address Info
					tr
						td Line 1:
						td
							span(ng-hide="editMode") {{info.line1}}
							input(ng-hide="!editMode" type="textbox" ng-model="info.line1")
					tr
						td Line 2:
						td
							span(ng-hide="editMode") {{info.line2}}
							input(ng-hide="!editMode" type="textbox" ng-model="info.line2")
					tr
						td City:
						td
							span(ng-hide="editMode") {{info.city}}
							input(ng-hide="!editMode" type="textbox" ng-model="info.city")
					tr
						td State:
						td
							span(ng-hide="editMode") {{info.state}}
							input(ng-hide="!editMode" type="textbox" ng-model="info.state")
					tr
						td Postal Code:
						td
							span(ng-hide="editMode") {{info.postalCode}}
							input(ng-hide="!editMode" type="textbox" ng-model="info.postalCode")
				table(class="table-condensed table-bordered family-table profile-table" ng-class="{'disabled-table':shippingAddressSameToggle, 'test':'!shippingAddressSameToggle'}")
					tr
						th(colspan="2")
							span Shipping Info
							div(class="duplicate-address-info")
								input(type="checkbox" ng-checked="shippingAddressSameToggle" ng-disabled="!editMode" ng-click="toggleSameShippingAddress()") 
								span Same as Address Info
					tr
						td Line 1:
						td
							span(ng-hide="editMode || shippingAddressSameToggle") {{info.shipLine1}}
							input(ng-hide="!editMode || shippingAddressSameToggle" type="textbox" ng-model="info.shipLine1")
					tr
						td Line 2:
						td
							span(ng-hide="editMode || shippingAddressSameToggle") {{info.shipLine2}}
							input(ng-hide="!editMode || shippingAddressSameToggle" type="textbox" ng-model="info.shipLine2")
					tr
						td City:
						td
							span(ng-hide="editMode || shippingAddressSameToggle") {{info.shipCity}}
							input(ng-hide="!editMode || shippingAddressSameToggle" type="textbox" ng-model="info.shipCity")
					tr
						td State:
						td
							span(ng-hide="editMode || shippingAddressSameToggle") {{info.shipState}}
							input(ng-hide="!editMode || shippingAddressSameToggle" type="textbox" ng-model="info.shipState")
					tr
						td Postal Code:
						td
							span(ng-hide="editMode || shippingAddressSameToggle") {{info.shipPostalCode}}
							input(ng-hide="!editMode || shippingAddressSameToggle" type="textbox" ng-model="info.shipPostalCode")