extends /_layout

block content
	div(class="col-xs-12" style="margin:auto;padding-top: 100px;text-align:center;")
		h1 404: Page Not Found
		p The page could not be found on our server. 
		p 404 Error
		
		a(href="/" style="cursor:pointer;") Return to homepage