html(ng-app="familyPortalApp")
	head
		title=title
		link(rel="stylesheet" href="/dist/thirdPartyCSS.css")
		link(rel="stylesheet" href="/dist/familyPortal.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-resource.min.js")
		script(src="/dist/thirdPartyJS.js")
		script(src="/dist/familyPortal.js")
	body
		header(ng-controller="headerCtrl" class="col-xs-12 familyScrapbookHeader")
			div(class="col-xs-6 pull-left header-text")
				span Family Scrapbook
			if !accessDenied
				div(class="row no-gutter col-xs-6 pull-right")
					div(class="header-icon" title="Logout" ng-click="logout()")
						i(class="fa fa-power-off" aria-hidden="true")
					div(class="header-icon")
						i(class="fa fa-navicon" aria-hidden="true")
		block content