extends /_layout

block content
	div(class="col-md-10 col-xs-12 col-xs-offset-0 col-md-offset-1 no-side-padding" ng-controller="splashCtrl" ng-init="init()")
		div(class="panel-container-sm col-md-8")
			div(class="panel panel-default")
				div(class="panel-heading") 
					a(class="panel-title") Recent User Activity
				div(class="panel-body")
					div(ng-hide="!userActivityLoading" class="panel-loading")
						img(src="/dist/images/loading.gif")
					span(ng-hide="userActivityLoading || userActivityArray.length > 0" class="col-xs-12 no-side-padding text-center") No Recent User Activity
					div(ng-hide="userActivityLoading || userActivityArray.length === 0")
						ul(class="list-group")
							li(class="list-group-item" ng-repeat="userActivity in userActivityArray")
								div(class="list-item-withbadge-text")
									a(ng-href="family/family_member_profile?id={{userActivity.userId}}") {{userActivity.userName | capitalizeFirstLetter}}
									span  {{userActivity.desc}} 
									a(ng-href="{{userActivity.itemUrl}}") {{userActivity.item}}
								span(class="badge list-item-withbadge-badge") {{userActivity.dateDiff}}
		div(class="panel-container-sm col-md-4")
			div(class="panel panel-default")
				div(class="panel-heading") 
					a(class="panel-title"  href ="/calendar") Calendar
				div(class="panel-body")
					p blank
		div(class="panel-container-lg col-md-4")
			div(class="panel panel-default")
				div(class="panel-heading") 
					a(class="panel-title" href ="/videos") Recent Videos
				div(class="panel-body")
					div(ng-hide="!videosLoading" class="panel-loading")
						img(src="/dist/images/loading.gif")
					ul(ng-hide="videosLoading" class="list-group")
						li(class="list-group-item" ng-repeat="video in videosArray")
							div(class="list-item-withbadge-text")
								a(href="./videos/watch?id={{video._id}}") {{video.name}}
							span(class="badge list-item-withbadge-badge") {{video.dateDiff}}
		div(class="panel-container-lg col-md-4")
			div(class="panel panel-default")
				div(class="panel-heading") 
					a(class="panel-title"  href ="/images") Images
				div(class="panel-body")
					div(ng-hide="!imageMetaDataLoading" class="panel-loading")
						img(src="/dist/images/loading.gif")
					ul(ng-hide="imageMetaDataLoading" class="list-group")
						li(class="col-xs-12 list-group-item images-list-group-item" ng-repeat="image in imageMetaDataArray")
							div(class="col-xs-2 no-side-padding")
								a(href="./images/view?id={{image._id}}")
									img(ng-src="/api/v1/images/{{image._id}}/thumbnail?path={{image.fileLocation}}{{image.fileName}}.thumbnail{{image.fileExt}}")
							div(class="col-xs-7")
								a(href="./images/view?id={{image._id}}") {{image.name}}
							span(class="col-xs-3 badge") {{image.dateDiff}}
		div(class="panel-container-md col-md-4")
			div(class="panel panel-default")
				div(class="panel-heading") 
					a(class="panel-title"  href ="/family") Family Members
				div(class="panel-body")
					div(ng-hide="!familyMembersLoading" class="panel-loading")
						img(src="/dist/images/loading.gif")
					ul(ng-hide="familyMembersLoading" class="list-group")
						li(class="list-group-item" ng-repeat="familyMember in familyMembersArray")
							a(href="./family/family_member_profile?id={{familyMember._id}}") {{familyMember.firstName}} {{familyMember.lastName}}
							