extends /_layout

block content
	div(class="col-md-10" style="float:none;margin:auto;" ng-controller="splashCtrl" ng-init="init()")
		h1 Celiano Family Videos
		div(class="col-md-8" style="height:200px;")
			p news feed / chat
		div(class="col-md-4" style="height:200px;")
			p calendar
		div(class="col-md-4" style="height:400px;")
			p videos
			a(href="/videos") temporary link to page
		div(class="col-md-4" style="height:400px;")
			p images
		div(class="col-md-4" style="height:200px;")
			p family members