<div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1" ng-controller="imagesCtrl" ng-init="init()">
	<div class="col-xs-12 no-side-padding">
		<h1 class="image-title col-lg-9 col-xs-5">Images</h1>
		<div class="image-search col-lg-3 col-xs-7">
			<div>
				<i class="fa fa-search" ng-click="search()"></i>
			</div>
			<input class="form-control" type="text" placeholder="Search..." ng-model="searchText" ng-enter="search()"/>
		</div>
	</div>
	<div class="col-xs-12 no-side-padding">
		<div class="col-xs-12">
			<div class="folder-breadcrumb-item" ng-repeat="f in folderBreadcrumbArray">
				<i class="fa fa-chevron-right" ng-hide="$first"></i>
				<span ng-class="{'font-weight-bold': $last === true}" ng-click="openFolder(f.folder)">{{f.text}}</span>
			</div>
		</div>
		<div class="panel-loading-cover-page" ng-hide="!pageLoading()">
			<img src="/dist/images/loading.gif"/>
		</div>
		<div class="image-container-outer col-xs-12 col-sm-6 col-md-4 col-lg-2" ng-hide="pageLoading()" ng-repeat="i in folders" resize-height-to-square="resize-height-to-square" right-click-folder="right-click-folder">
			<div class="image-container-inner col-xs-12">
				<div>
					<img ng-click="openFolder(folderName + i)" ng-src="/dist/images/folder-icon.png" center-image-in-div="center-image-in-div"/>
				</div>
				<div>
					<span class="col-xs-12 no-side-padding text-center hideOverflow font-weight-bold">{{i}}</span>
					<span class="col-xs-12 deleteFolder" ng-click="deleteFolder(folderName, i)">Perimently Delete Folder</span>
				</div>
			</div>
		</div>
		<div class="image-container-outer col-xs-12 col-sm-6 col-md-4 col-lg-2" ng-hide="pageLoading()" ng-repeat="i in imageMetaData" resize-height-to-square="resize-height-to-square">
			<div class="image-container-inner col-xs-12">
				<div>
					<a ng-href="./images/view?id={{i._id}}">
						<img ng-src="/api/v1/images/{{i._id}}/thumbnail?path={{i.fileLocation}}{{i.fileName}}.thumbnail{{i.fileExt}}" center-image-in-div="center-image-in-div"/>
					</a>
				</div>
				<div>
					<span class="col-xs-12 no-side-padding text-center hideOverflow font-weight-bold">{{i.name}}</span>
					<span class="col-xs-12 no-side-padding hideOverflow">
						Tags: <span ng-repeat="t in i.tags">{{t}}{{$last ? '' : ', '}}</span>
					</span>
					<span class="col-xs-12 no-side-padding"> 
						<span class="hideOverflow col-xs-8 no-side-padding">Uploaded: {{i.createdBy}}</span>
						<span class="col-xs-4 badge">{{i.createDate | date:'MM/dd/yyyy'}}</span>
					</span>
				</div>
			</div>
		</div>
		<div class="image-container-outer col-xs-12 col-sm-6 col-md-4 col-lg-2" ng-hide="pageLoading()" ng-mouseenter="hoverAdd($event, 1)" ng-mouseleave="hoverAdd($event, 0)" resize-height-to-square="resize-height-to-square">
			<i class="add-item-container-inner col-xs-12 fa fa-plus fa-5x full-height"></i>
			<div class="image-container-inner col-xs-12" style="display:none">
				<i class="col-xs-6 fa fa-photo fa-4x full-height" ng-click="addObject($event, 1)"></i>
				<i class="col-xs-6 fa fa-folder-o fa-4x full-height" ng-click="addObject($event, 0)"></i>
			</div>
			<div class="add-image-container-inner col-xs-12" style="display:none">
				<i class="col-xs-6 fa fa-arrow-left fa-2x" ng-click="cancelAdd($event)"></i>
				<i class="col-xs-6 fa fa-save fa-2x text-right" ng-click="saveImage($event)"></i>
				<div class="control-group">
					<label class="control-label">Image Name:</label>
					<input class="form-control" type="text" ng-model="saveImageName"/>
					<label>Image Tags(seperate with ,):</label>
					<input class="form-control" type="text" ng-model="saveImageTags"/>
					<input class="image-input" id="saveImageFileInput" type="file" accept="image/*" inputfileread="saveImageFile" style="padding-top:5px"/>
					<span class="control-label" for="folderNameError" ng-bind="saveImageError"></span>
				</div>
			</div>
			<div class="add-folder-container-inner col-xs-12" style="display:none">
				<i class="col-xs-6 fa fa-arrow-left fa-2x" ng-click="cancelAdd($event)"></i>
				<i class="col-xs-6 fa fa-save fa-2x text-right" ng-click="saveFolder($event)"></i>
				<div class="control-group">
					<label class="control-label">Folder Name:</label>
					<input class="form-control" id="folderNameError" type="text" ng-model="saveFolderName"/>
					<span class="control-label" for="folderNameError" ng-bind="saveFolderError"></span>
				</div>
			</div>
		</div>
		<load-next-page ng-hide="pageLoading()" items="Images" paging-variables="imagePaging" load-next-page-fn="getImageMetaData(ct, pagingStartItem)"></load-next-page>
		<div class="col-xs-12 no-side-padding" ng-hide="pageLoading()"> 
			<h3>allow users to drag and drop images to folders</h3>
			<h3>maybe mirror all this for the video page</h3>
		</div>
	</div>
</div>