extends /_layout

block content
	div(class="col-xs-12" style="margin:auto;padding-top: 100px;text-align:center;")
		h1 500: Internal Server Error
		p There's a problem with the resource you're looking for, and it can't be displayed.
		p 404 Internal Server Error
		
		a(href="/" style="cursor:pointer;") Return to homepage