extends /_layout

block content
	div(class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1" ng-controller="viewImageCtrl" ng-init="init('" + imageId + "')")
		div(class="col-xs-12 no-side-padding")
			h1 View Image - {{imageMetaDataInfo.name}}
		div(class="panel-loading-cover-page" ng-hide="!imageMetaDataInfoLoading")
			img(src="/dist/images/loading.gif")
		div(class="col-xs-12 no-side-padding" ng-hide="imageMetaDataInfoLoading")
			div(class="col-xs-12 no-side-padding")
				img(ng-src="/api/data/image?path={{imageMetaDataInfo.fileLocation}}{{imageMetaDataInfo.fileName}}"  style="max-width:100%;")
			div(class="col-xs-12 no-side-padding")
				p Name: {{imageMetaDataInfo.name}}
				p Tags: {{imageMetaDataInfo.tags}}
				p FileName: {{imageMetaDataInfo.fileName}}
				p Create Date: {{imageMetaDataInfo.createDate | date:'MM/dd/yyyy'}}
				p Created By: {{imageMetaDataInfo.createUser[0].username}}
				p Update Date: {{imageMetaDataInfo.updateDate | date:'MM/dd/yyyy'}}
				p Updated By: {{imageMetaDataInfo.updateUser[0].username}}
				