extends /_layout

block content
	div(class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1" ng-controller="viewImagesCtrl" ng-init="init('" + imageId + "')")
		div(class="col-xs-12 no-side-padding")
			h1 View Image
				span(ng-hide="imageMetaDataInfoLoading")  - {{imageMetaDataInfo_Original.name}}
		div(class="panel-loading-cover-page" ng-hide="!imageMetaDataInfoLoading")
			img(src="/dist/images/loading.gif")
		div(class="col-xs-12 no-side-padding" ng-hide="imageMetaDataInfoLoading")
			div(class="col-xs-12 no-side-padding")
				img(class="view-image-image" ng-src="/api/images?path={{imageMetaDataInfo_Original.fileLocation}}{{imageMetaDataInfo_Original.fileName}}{{imageMetaDataInfo_Original.fileExt}}")
				span(class="col-xs-12 deleteImage" ng-click="deleteImage()") Perimently Delete Image
			div(class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 no-side-padding")
				div(class="col-xs-12 no-side-padding view-image-buttons")
					i(class="fa fa-pencil fa-3x" ng-hide="editMode" ng-click="editMetaDataInfoToggle()")
					i(class="fa fa-save fa-3x" ng-hide="!editMode || saving" ng-click="saveMetaDataInfo()")
					i(class="fa fa-close fa-3x" ng-hide="!editMode || saving" ng-click="editMetaDataInfoToggle()")
					img(src="/dist/images/loading.gif" ng-show="saving") 
					span(ng-show="saving") Saving...
				table(class="table table-condensed table-bordered profile-table view-image-table")
					tr
						td
							span(class="hideOverflow") Name:
						td(ng-class="{'no-side-padding': editMode}")
							span(ng-hide="editMode") {{imageMetaDataInfo_Original.name}}
							input(class="form-control" type="text" ng-hide="!editMode" ng-model="imageMetaDataInfo.name")
					tr
						td 
							span(class="hideOverflow") Tags:
						td(ng-class="{'no-side-padding': editMode}")
							span(ng-hide="editMode") {{imageMetaDataInfo_Original.tags}}
							input(class="form-control" type="text" ng-hide="!editMode" ng-model="imageMetaDataInfo.tags")
					tr
						td 
							span(class="hideOverflow") File Name:
						td(ng-class="{'no-side-padding': editMode}")
							span(ng-hide="editMode") {{imageMetaDataInfo_Original.fileName}}
							input(class="form-control" type="text" ng-hide="!editMode" ng-model="imageMetaDataInfo.fileName")
					tr
						td 
							span(class="hideOverflow") File Extension:
						td 
							span {{imageMetaDataInfo_Original.fileExt}}
					tr
						td 
							span(class="hideOverflow") Create Date:
						td 
							span {{imageMetaDataInfo_Original.createDate | date:'MM/dd/yyyy'}}
					tr
						td 
							span(class="hideOverflow") Create By:
						td 
							span {{imageMetaDataInfo_Original.createUser[0].username}}
					tr
						td 
							span(class="hideOverflow") Update Date:
						td 
							span {{imageMetaDataInfo.updateDate | date:'MM/dd/yyyy'}}
					tr
						td 
							span(class="hideOverflow") Update By:
						td 
							span {{imageMetaDataInfo.updateUser[0].username}}