extends /_layout

block content
	div(class="col-md-10 col-md-offset-1 no-side-padding" ng-controller="familyMemberProfileCtrl" ng-init="init('" + userId + "')")
		img(class="col-md-2 col-md-offset-2" ng-src="data:image/jpeg;base64,{{info.userImage}}")
		div(class="col-md-6")
			family-member-info(is-profile="true" watch="info" familymember="{{info}}")
		div(class="col-md-8 col-md-offset-2")
			h3 Recent User Activity(to be implemented)