extends /_layout

block content
	div(class="col-md-10 col-md-offset-1" ng-controller="familyMemberProfileCtrl" ng-init="init('" + userId + "')")
		div(ng-hide="!pageLoading()" class="panel-loading-cover-page")
			img(src="/dist/images/loading.gif")
		div(ng-hide="pageLoading()" class="profile-image col-xs-12 col-xs-offset-0 col-md-2 col-md-offset-2")
			img(ng-src="data:image/jpeg;base64,{{photoInfo.userImage}}")
		div(ng-hide="pageLoading()" class=" col-xs-12 col-md-6 no-side-padding")
			family-member-info(is-profile="true" watch="info" familymember="{{info}}")
		div(ng-hide="pageLoading()" class="col-xs-12 col-md-8 col-md-offset-2 no-side-padding")
			h3 Recent User Activity
			span(ng-hide="pageLoading()|| recentUserActivity.length > 0" class="col-xs-12 no-side-padding text-center") No User Activity
			div(ng-hide="pageLoading() || recentUserActivity.length === 0")
				ul(class="list-group")
					li(class="list-group-item" ng-repeat="userActivity in recentUserActivity")
						div(class="list-item-withbadge-text")
							span {{userActivity.userName | capitalizeFirstLetter}} {{userActivity.desc}} 
							a(ng-href="{{userActivity.itemUrl}}") {{userActivity.item}}
						span(class="badge list-item-withbadge-badge") {{userActivity.dateDiff}}
				load-next-page(ng-hide="pageLoading()" items="User Activity")