/* CSS for header only */

.familyScrapbookHeader {
	padding:0;
	height:60px;
	background:linear-gradient(to bottom right, #d8bc06, #f4f4f4);
	border:0;border-radius: 0px 0px 5px 5px;
}

.header-logo {
	
}

.header-text {
	padding-top:10px;
	color:#121872;
	font-size:30px;
}

.header-text span {
	cursor: pointer;
}

.header-icon {
	float:right;
	border-left:1px solid;
	border-bottom:1px solid;
	height:60px;
	width:60px;
	text-align:center;
	padding-top:15px;
	color:#121872;
}

.header-icon:last-of-type {
	border-radius: 0 0 0 10px;
}

.header-icon i {
	cursor: pointer;
}

.header-icon i {
	font-size:30px;
}

.nav-dropdown-menu {
	padding:0;
	margin:0;
}

.nav-pills {
	width:200px;
	background-color:#f4f4f4;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	color: #f4f4f4;
	background-color: #121872;
}

.nav-pills li a {
	color:#121872;
}

.nav-pills li a i {
	font-size: 20px;
}

.nav-pills li a i span {
	padding-left:5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dropdown-menu .divider {
	background-color: #121872;
}