.image-container-outer {
	padding:10px;
}

.add-item-container-inner,
.image-container-inner {
	background-color: #e8e8e8;
}

.add-image-container-inner,
.add-folder-container-inner,
.image-container-inner:hover {
	background-color:#d4d1d1;
	height:100%;
	cursor: initial;
}

.image-container-outer i.full-height,
.image-container-inner i.full-height {
	text-align:center;
}

.image-container-inner div:first-child {
	height:75%;
}

.image-container-inner div:first-child span {
	height:100%;
	display:inline-block;
	vertical-align:middle;
}

.image-container-inner div:last-child {
	height:25%;
}

.add-folder-container-inner i::before,
.add-image-container-inner i::before,
.image-container-inner i.full-height::before {
	cursor: pointer;
}

.add-folder-container-inner i,
.add-image-container-inner i {
	padding:0;
	margin-top:10px;
	margin-bottom:10px;
}

.image-container-inner img {
	max-width:100%;
    max-height:100%;
	margin:auto;
    vertical-align: middle;
	cursor: pointer;
}

.image-title {
	float:left;
}

.image-search {
	float:right;
}

.image-search div {
	padding:8px;
	width:20%;
	text-align:right;
	display:inline-block;
}

.image-search div i {
	 cursor:pointer;
}

.image-search input {
	display:inline-block;
	width:80%;
}

.folder-breadcrumb-item {
	display:inline-block;
}

.folder-breadcrumb-item span {
	font-size:20px;
	cursor:pointer;	
	padding:5px;
}

.folder-breadcrumb-item span:hover {
	border:1px solid #414042;
	padding:4px;
}

.folder-breadcrumb-item i {
	color:#414042;
	padding:8px;
}