/* CSS for panels only(currently only used on splash) */

.panel-container-sm {
	height:200px;
	margin-bottom:15px;
}

.panel-container-sm .panel {
	height:200px;
}

.panel-container-md {
	height:280px;
	margin-bottom:15px;
}

.panel-container-md .panel {
	height:280px;
}

.panel-container-lg {
	height:406px;
	margin-bottom:15px;	
}

.panel-container-lg .panel {
	height:406px;
}

.panel > .panel-heading {
    background-image: none;
    background:linear-gradient(to bottom right, #f7941e, #d8bc06);
}

a.panel-title {
	color: #121872;
	font-weight:bold;
	text-decoration: none;
}

.panel-loading {
	position:relative;
	width:100%;
	height:80%;
}

.panel-loading-cover-page {
	position:relative;
	width:100%;
	height:60%;
}

.panel-loading img,
.panel-loading-cover-page img {
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.images-list-group-item {
	padding-top:2;
	padding-bottom:2;
}

.images-list-group-item img { 
	max-height:36px;
	display:block;
	margin:auto;
}

.images-list-group-item .col-xs-2 {
	overflow:hidden;
}

.images-list-group-item .col-xs-7 {
	padding:8px;
}

.images-list-group-item .badge {
	margin-top:10px;
}

.list-item-withbadge-text {
	width:75%;
	display:inline-block;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;	
}

.list-item-withbadge-badge {
	width:25%;
	max-width:100px;
	float:right;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

.scroll-panel {
	border:15px solid white;
	padding:0;
}