/* CSS for panels only(currently only used on splash) */

.panel-container-sm {
	height:200px;
	margin-bottom:15px;
}

.panel-container-sm .panel {
	height:200px;
}

.panel-container-md {
	height:280px;
	margin-bottom:15px;
}

.panel-container-md .panel {
	height:280px;
}

.panel-container-lg {
	height:400px;
	margin-bottom:15px;	
}

.panel-container-lg .panel {
	height:400px;
}

.panel > .panel-heading {
    background-image: none;
    background:linear-gradient(to bottom right, #f7941e, #d8bc06);
}

a.panel-title {
	color: #121872;
	font-weight:bold;
	text-decoration: none;
}