.profile-image img {
	max-height:225px;
	width:100%;
}
	
.profile-table {
	margin-bottom:20px;
	width:100%;
	background-color:#fff;
}

.profile-table tr td:first-child {
	width:15%;
}

.profile-table tr td:nth-child(2) {
	padding-top:0 !important;
	padding-bottom:0 !important;
}

.profile-table .duplicate-address-info {
	float:right;
	font-weight:normal
}
.profile-btn {
	margin-right:5px;
}

.disabled-table {
	background: #dddddd;
}

.image-input {
	width:100%;
}